{% extends "blog/base.html" %}

{% block title %}博客首页{% endblock title %}

{% block content %}
        <h2>{{ blog.title }}</h2>
    <hr>
    <div class="mt-2">
        <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
        <span class="ms-2">{{ blog.author.username }}</span>
        <span class="ms-2">于</span>
        <span class="ms-2">{{ blog.pub_at|date:'Y-m-d H:i' }}</span>
        <span class="ms-2">发布</span>
    </div>
    <hr>
    <div class="py-2">
        {{ blog.content|safe }}
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（1）</h3>
        <form action="" method="POST">
            <div class="mt-2">
                <label for=""></label>
                <textarea name="content" id="" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <div class="text-end mt-2">
                <button type="button" class="btn btn-primary">评论</button>
            </div>
            <div class="mt-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-3">
                        <div class="d-flex justify-content-between text-body-secondary">
                            <div class="user-info">
                                <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                                    <span class="ms-2">用户名称</span>
                            </div>
                            <div class="create-time">2023-01-01 00:00</div>
                        </div>
                        <div class="mt-2">
                            这是评论内容
                        </div>
                    </li>
                    <li class="list-group-item mb-3">
                        <div class="d-flex justify-content-between text-body-secondary">
                            <div class="user-info">
                                <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                                    <span class="ms-2">用户名称</span>
                            </div>
                            <div class="create-time">2023-01-01 00:00</div>
                        </div>
                        <div class="mt-2">
                            这是评论内容
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
{% endblock content %}
