<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
{#导航栏#}
<nav class="navbar navbar-expand-lg mb-3" style="background-color: #eaf1f6;" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">我的博客</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">发布博客</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我的发布</a>
                </li>
            </ul>

            <form class="d-flex me-3" role="search">
                <input class="form-control" type="search" placeholder="请输入" aria-label="Search"
                       style="width: 200px; border-top-right-radius: 0; border-bottom-right-radius: 0;"/>
                <button class="btn btn-outline-primary" type="submit"
                        style="border-top-left-radius: 0; border-bottom-left-radius: 0;">搜索
                </button>
            </form>
            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>


        </div>
    </div>
</nav>

{#主体部分#}
<div class="container bg-white p-3 rounded">
    <h2>演示标题</h2>
    <hr>
    <div class="mt-2">
        <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
        <span class="ms-2">用户名称</span>
        <span class="ms-2">于</span>
        <span class="ms-2">2023-01-01 00:00</span>
        <span class="ms-2">发布</span>
    </div>
    <hr>
    <div class="py-2">
        这是博客详情
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（1）</h3>
        <form action="" method="POST">
            <div class="mt-2">
                <label for=""></label>
                <textarea name="content" id="" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <div class="text-end mt-2">
                <button type="button" class="btn btn-primary">评论</button>
            </div>
            <div class="mt-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-3">
                        <div class="d-flex justify-content-between text-body-secondary">
                            <div class="user-info">
                                <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                                    <span class="ms-2">用户名称</span>
                            </div>
                            <div class="create-time">2023-01-01 00:00</div>
                        </div>
                        <div class="mt-2">
                            这是评论内容
                        </div>
                    </li>
                    <li class="list-group-item mb-3">
                        <div class="d-flex justify-content-between text-body-secondary">
                            <div class="user-info">
                                <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                                    <span class="ms-2">用户名称</span>
                            </div>
                            <div class="create-time">2023-01-01 00:00</div>
                        </div>
                        <div class="mt-2">
                            这是评论内容
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>

</body>
</html>