{% extends "blog/base.html" %}

{% block title %}博客首页{% endblock title %}

{% block content %}
    <h2>博客列表</h2>
    <div class="row row-cols-2 row-gap-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'blog:blog_detail' blog_id=1 %}" style="--bs-link-opacity: .5;">演示标题</a>
                </div>
                <div class="card-body" style="height: 100px;">
                    <p class="card-text">这是演示内容去去去去去去去去去去去去去去去请求权去</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                        用户名称
                    </div>
                    <div>
                        发布时间：2026-01-01 00:00
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'blog:blog_detail' blog_id=2 %}">演示标题</a>
                </div>
                <div class="card-body" style="height: 100px;">
                    <p class="card-text">这是演示内容去去去去去去去去去去去去去去去请求权去</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                        用户名称
                    </div>
                    <div>
                        发布时间：2026-01-01 00:00
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'blog:blog_detail' blog_id=3 %}">演示标题</a>
                </div>
                <div class="card-body" style="height: 100px;">
                    <p class="card-text">这是演示内容去去去去去去去去去去去去去去去请求权去</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                        用户名称
                    </div>
                    <div>
                        发布时间：2026-01-01 00:00
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'blog:blog_detail' blog_id=4 %}">演示标题</a>
                </div>
                <div class="card-body" style="height: 100px;">
                    <p class="card-text">这是演示内容去去去去去去去去去去去去去去去请求权去</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                        用户名称
                    </div>
                    <div>
                        发布时间：2026-01-01 00:00
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'blog:blog_detail' blog_id=5 %}">演示标题</a>
                </div>
                <div class="card-body" style="height: 100px;">
                    <p class="card-text">这是演示内容去去去去去去去去去去去去去去去请求权去</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/1.png' %}" class="rounded-circle" width="30" height="30" alt="">
                        用户名称
                    </div>
                    <div>
                        发布时间：2026-01-01 00:00
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}